=content_for :title do
  icloudcompute

=video_tag  'clouds.mp4', :autoplay => true, :playsinline => true, :loop => true, :id => 'clouds'

%div.splash-logo
  = image_tag 'logo.png'
  %div.splash-text
    %h2
      a cloud based platform for scientific computations