=content_for :title do
  icloudcompute map

=content_for :head do
  %script{:type => 'text/javascript', :src  => 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCSLnY5ff15-602foDAAKK2G2AUwNqI5OA'}


%div#map-canvas
